<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AICo</title>
    <meta name="description" content="Health Plan Solution Project">
    <meta name="author" content="AIco">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/aicobootstrap.css" asp-append-version="true" />
</head>

<body style="">
            
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
